*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Grenze', serif;
    margin: 0;
    padding: 0;
    background: url('../img/backg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.team{
    background-color: #59637b;
    height: 100vh;
}

.landing h1{
    font-size: 110px;
    color: #E5E5E5;
}

.logo img{
    height: 42px;
    margin-top: 10px;
}
.team .logo img{
    height: 42px;
    margin-top: 3px;
}

.logo {
    display: flex;
    justify-content: space-around;
    align-content: stretch;
    padding-left: 2%;
}

.logo span{
    font-size: 180%;
}

.logo h2{
    font-weight: inherit;
}

.navbar{
    justify-content: space-between;
    padding: 0.1% 3%;
    color: #BAC5E3;
    border-bottom: 1px rgba(255, 255, 255, 0.349) solid;
    background-color: #59637b00;
    display: flex;
    align-content: center;
    position: fixed;
    width: 100%;
}
.team .navbar{
    padding: 0.5% 3%;
}

.navbar ul{
    padding-top: 12px;
    display: flex;
}

.navbar .links a{
    text-decoration: none;
    display: block;
    color: #BAC5E3;
}

.navbar .links{
    border-color: red;
    border-top: 5px;
    display: block;
    font-size: 20px;
}

.navbar li a{
    padding: 5px 10px;
  }

.navbar li a:hover{
    color: white;
}
  
.navbar, li {
    padding-right: 2em;
    list-style: none;
    text-decoration: none;
}

.landing h1{
    top: -140%;
    left: 1%;
    transform: translate(-1%, 140%);
    font-weight: initial;
}

.landing, p{
    color: #BAC5E3;
    font-size: 30px;
    padding-left: 9%;
    padding-top: 10.3%;
}

.landing{
    height: 22.5em;
    line-height: 84px;
    
}

.detail{
    background-color: #59637b;
    height: 46em;
}

.details{
    margin-top: 5%;
    padding-top: 10%;
    display: flex;
}

.info{
    width: 50%;
    top: -5%;
    left: 1%;
    transform: translate(-1%, 5%);
}

.info p{
    color: black;
}

.services{
    border-right: 8px solid #BAC5E3;
    width: 36%;
    height: 190px;
    top: -25%;
    left: 1%;
    transform: translate(-1%, 25%);
    padding-top: 0px;
    padding-right: 43px;
    text-align: start;
    align-content: flex-start;
    
}

.services h1{
    padding-top: 0px;
    padding-right: 3px;
    padding-bottom: 30%;
    padding-left: 32%;
    font-size: 90px;
    color: #E5E5E5;
    line-height: 99px;
    text-align: start;
    font-weight: initial;
}

.icons{
    border: thin 1px solid;
    width: 25%;
    padding-top: 10%;
    padding-bottom: 3%;
    border-radius: 16px;
    top: -15%;
    left: 1%;
    transform: translate(-1%, 15%);
}

.container{
    width: 50%;
    margin: auto;
}

.cards{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10%;
}

.cards h3{
    text-align: center;
    padding-top:65%;
}

#price{
    background-image: url('../img/afford.png');
    background-color: #c4c4c417;
    background-size: contain;
    background-repeat: no-repeat;
}
#time{
    background-image: url('../img/time.png');
    background-color: #c4c4c417;
    background-size: contain;
    background-repeat: no-repeat;
}
#quality{
    background-image: url('../img/quality.png');
    background-color: #c4c4c417;
    background-size: contain;
    background-repeat: no-repeat;
}

.profileimg{
    display: flex;
    
    
}

.profileimg img{
    height: 250px;
    width: 250px;
    top: -76%;
    left: -57%;
    transform: translate(57%, 76%);
    border-radius: 80%;
}

.profinfo{
    top: -45%;
    left: -12%;
    transform: translate(12%, 45%);
    
}

.slides{
    width: 90%;
    height: 550px;
    align-content: center;
    
}

.btn{
    width: 10px;
    padding: 5px;
    border: #BAC5E3 solid 2px;
    border-radius: 50%;
    height: 10px;
    transition: 0.5s;
}

.btn:hover{
    background-color: #BAC5E3;
}

.btn:not(:last-child){
    margin-right: 40px;
}

.navb{
    display: flex;
    justify-content: center;
    top: -200%;
    right: 395%;
    transform: translate(-395%, 200%);
    align-content: center;
    
}

.team{
    overflow: hidden;
}

.footer{
    background-color: #c4c4c498;
    text-align: center;
    align-content: center;
    margin-top: 3.5%;
    padding: 15px;
    top: -35%;
    left: 0%;
    transform: translate(0%, 35%);
    position: sticky;
}